<form action="/skills/new" method="post">
  <input type="text" name="skill" placeholder="Skill">
  <input type="text" name="context" placeholder="Context">
  <input type="text" name="years" placeholder="Years Educated">
  <input type="submit">
</form>